@import 'tailwindcss';

@layer base {
  h1 {
    @apply text-4xl font-extrabold tracking-tight text-gray-900 md:text-5xl lg:text-6xl;
  }
  h2 {
    @apply text-3xl font-bold tracking-tight text-gray-900 md:text-4xl mb-4;
  }
  h3 {
    @apply text-2xl font-bold text-gray-900 md:text-3xl;
  }
  h4 {
    @apply text-xl font-semibold text-gray-900 md:text-2xl;
  }
  h5 {
    @apply text-lg font-semibold text-gray-800 md:text-xl;
  }
  h6 {
    @apply text-base font-semibold text-gray-700;
  }

  svg {
    display: block;
    height: 100%;
    width: 100%;
  }
}

@theme {
  --color-bg: rgba(197, 187, 164);
  --color-main: rgba(149, 138, 122);
  --color-primary: #403d39;
  --color-secondary: #252422;
  --color-odd: #eb5e28;
}

* {
  font-family: 'Roboto', sans-serif;
}
