@import 'tailwindcss';

@layer base {
  svg {
    display: block;
    height: 100%;
    width: 100%;
  }
}

@theme {
  --color-bg: rgba(197, 187, 164);
  --color-main: rgba(149, 138, 122);
  --color-primary: #403d39;
  --color-secondary: #252422;
  --color-odd: #eb5e28;
}

* {
  font-family: 'Roboto', sans-serif;
}
